@media only screen and (min-width: 768px){
    .user-info{

    }
    .logout-button{
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px){
    .user-info{
        margin-left: 0;
        margin-right: 0;
    }
    .logout-button{
        margin-right: 0;
        margin-left: 0;
    }
}

.app-bar{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #01FFB2;
}

.logout-button{
    display: flex;
    float: right;
    position: relative;
}

.logo{
    max-height: 60px;
    max-width: 150px;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    position: absolute;
    min-width: 80vw;
    min-height: 88vh;
    margin: 0;
    left: 12%;
    top: 9%;
    /* background-color: blueviolet; */
}

.user-info{
    text-align: center;
    align-items: center;
    justify-self: end;
    float: right;
}

.side-bar{
    width: 11%;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    background-color: #01FFB2;
    min-height: 100%;
}